<div class="row">
  <div class="col-sm-12">
    <h1>Editing Survey Response</h1>
    <%= link_to 'Show', @survey_response %> |
    <%= link_to 'Back', survey_responses_path %>
    <br>
    <br>
  </div>
</div>

<%= render 'form' %>
